@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lato:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Source+Code+Pro:wght@300&display=swap');

html,body,header {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    scroll-behavior: smooth;
}


h2 {
    font-family: 'Oswald','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Oswald','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 23px;
    margin-bottom: -25px;
}

p {
    font-family: 'Oswald','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

p > b {
   font-weight: bold;
}

p > u {
    text-decoration: underline;
}

p > a {
    text-decoration: none;
    color: #0080ff;
}
p > a:visited {
    color: #0080ff;
}
p > a:hover {
    color: #00b4ff;
    text-decoration: underline;
}

blockquote, small {
    margin: 0;
}

/* grand titre avec background */
#head-html {
    background-image: url(../img/html_background.jpg);
}

#head-css {
    background-image: url(../img/css_background.jpg);
}

.head {

    background-repeat: unset;
    margin-top: 20px;
    padding-top: 150px;
    padding-bottom: 150px;

    text-align: center;
    color: white;
    font-family: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;

    animation-duration: 3s;
    animation-name: apparition;
}
@keyframes apparition {
    from {
        color: transparent;
        width: 10%;
    }

    to {
        color: white;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .head {
        animation-duration: 2s;
    }
}


/* Definition HTML et CSS */
.bloc {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.1);
}

.bloc img{    /*logo à droite de la définition du langage */
    width: 200px;
    height: 100%;
}

@media screen and (max-width: 850px) {
    .bloc {
        display: block;
    }
    .bloc img {
        display: block;
        margin: auto;
        width: 150px;
        height: 100%;
    }
}

/* Le Balisage : */
#balisage {
    align-items: center;
    padding: 20px;
    margin: 20px;
}

#balisage-schema {      /* cette classe englobe l'illutrastion et le texte à côté*/
    display: flex;
    background: transparent;
    overflow: hidden;
}

#img-balisage {         /* celle-ci l'image et sa légende */
    display: block;
    text-align: center;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: 1s ease-out;
}
#img-balisage.active {
    left: 0;
    opacity: 1;
    background: transparent;
}

#img-balisage > p {
    margin-top: -10px;
}

#text-balisage {
    position: relative;
    right: -100%;
    opacity: 0;
    transition: 500ms ease-out 1s;
    background: transparent;
}
#text-balisage.active {
    right: 0;
    opacity: 1;
}

@media all and (max-width: 870px) {
    #balisage-schema {
        display: block;
    }
    #img-balisage > img {
        width: 80%;
        height: 80%;
    }
    #text-balisage {
        transition: 500ms ease-out 0s;
    }
    @media screen and (min-width: 600px) {
        #img-balisage > img {
            width: 60%;
            height: 60%;
        }
    }
}

/* .border-button {
    display: block;
    border-color: #1b1b1b;
    border-radius: 30px;
    padding: 10px;
    margin: 6px 0;
    background: transparent;
    font-family: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;

    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.border-button:hover {
    background: #1b1b1b;
    color: #f1f1f1;
} */

@keyframes float {
    from {
        margin-top: 3px;
    }
    50% {
        margin-top: 10px;
    }
    to {
        margin-top: 3px;
    }
}

/* Couleurs et bloc de code */
.code {
    display: inline-block;
    width: 50%;
    background-color: #262626;
    margin: 1px;
    padding: 3px;
    border-radius: 3px;
    
    color: white;
	font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-left: 10px;
}
@media all and (max-width: 1000px) {
    .code {
        width: 100%;
        overflow: scroll;
    }
}

.html-language {
    border-left: 8px solid #ff4800;
    overflow: scroll;
}

.css-language {
    border-left: 8px solid #008cba;
    overflow: scroll;
}

.code .balise {
    color: grey;
}

.code .balise-text {
    color: dodgerblue;
}

.code .balise-attribute {
    color: turquoise;
}

.code .balise-attribute-value {
    color: salmon;
}

.code .comment {
    color: green;
}

.code .css-id {
    color: orange;
}

.quotes {
    margin: 30px 5px;
    display: flex;
    align-items: center;
}

.quotes  img {
    padding: 40px 0;
    cursor: pointer;
}

blockquote {
    text-align: center;
    margin: 0 20px;
    font-family: 'Dancing Script', 'Lato', Arial, cursive;
    font-size: 25px;
}

blockquote > p {
    margin: 0;
    text-align: right;
    font-family: 'Lato','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

blockquote > small {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#hyperlink-video {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
}

#hyperlink-video img {
    margin-left: 80px;
    width: 200px;
    height: 100%;
}

@media screen and (max-width: 850px) {
    #hyperlink-video {
        display: block;
    }
    #hyperlink-video img {
        display: block;
        margin: auto;
        margin-top: 30px;
        width: 150px;
        height: 100%;
    }
    #hyperlink-video iframe {
        margin: auto;
        width: 70%
    }
}

.css-content {
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.warning {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.warning-items {
    margin: 0 5%;
    width: 200px; 
    padding: 20px;
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 15px;
    background-color: #f8d7da;
    border: solid 2px #a51725;
    color: #721c24;
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width: 930px){
    .warning {
        display: block;
        margin: auto;
    }
    .warning-items {
        margin-top: 20px;
        width: 80%;
        padding: 5px;
    }
}